body {
    padding-top: 0;
}

.card-img-top {
    width: 50%;
    margin: 20px auto;
}

.row {
    margin-bottom: 0;
}

.row-heading {
    font-weight: bold;
}

#navbarHeader .row div {
    background: #343a40!important;
}

.clickable {
    cursor: pointer;
}